AroundYou.xcworkspace/xcshareddata/AroundYou.xccheckout
AroundYou/AroundYou.xcodeproj/xcuserdata/anshah.xcuserdatad/xcschemes/AroundYou.xcscheme
AroundYou/AroundYou.xcodeproj/xcuserdata/anshah.xcuserdatad/xcschemes/xcschememanagement.plist
AroundYou.xcworkspace/xcuserdata/anshah.xcuserdatad/UserInterfaceState.xcuserstate